[submodule "api"]
	path = api
	url = https://github.com/yzhedwin/spring-openapi-websocket.git
[submodule "mmi"]
	path = mmi
	url = https://github.com/yzhedwin/javafx-app.git
[submodule "emulators"]
	path = emulators
	url = https://github.com/yzhedwin/openapi-js.git
